

td {
	text-align: center;
}

span{
	font-size: 25px;	
	font-weight: bold;
}

h1{
	color: red;
	display: block;
    font-size: 50px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.Centrado{
	text-align: center;
}

.control
{
	display: inline-block;
	background-color: white;
    border-style: ridge;
    border-radius: 16px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    vertical-align: middle;
    width: 300px;
	height: 100px
}

