table {
    border-collapse: collapse;
    width: 100%;
}

td {
	text-align: center;
}

span{
	font-size: 25px;	
	font-weight: bold;
}

h1{
	color: red;
	display: block;
    font-size: 50px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.Centrado{
	text-align: center;
}